## Problem 3 - Data analysis (4 points)

In this problem we will explore our temperature data by comparing spring temperatures between Helsinki Kumpula and Rovaniemi. To do this we'll use some conditions to extract subsets of our data and then analyse these subsets using basic pandas functions. Please perform the tasks below by writing your code into the codeblocks in each section.

### Tips for completing this problem

- Use **exactly** the same variable names as in the instructions.
- **Please do not**:

    - **Change the file names**. Do all of your editing in the provided `Exercise-5-problem-3.ipynb` file (this file).
    - **Change the existing cell types**. You can add cells, but changing the cell types for existing cells (from code to markdown, for example) will also cause the automated grader to fail. 

### Scores for this problem

**Your score on this problem will be based on following criteria:**

- Calculating the median temperatures for Mactan and Hinatuan for March-May of 2018
- Selecting temperatures for April and December 2018 in separate dataframes for each location
- Printing out some summary values for each month (April, December) and location (Mactan, Hinatuan)
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook and data files to your GitHub repository for this week's exercise

### Part 1 (0 points)

First, you need to load the data from Problem 2.

- Read in the csv files generated in Problem 2 to the variables `mactan` and `hinatuan`

In [1]:
import pandas as pd # import pandas module

# declare file paths
fp_mactan = "Mactan_temps_2019-01_2020-12.csv"
fp_hinatuan = "Hinatuan_temps_2019-01_2020-12.csv"

# read CSVs
mactan = pd.read_csv(fp_mactan)
hinatuan = pd.read_csv(fp_hinatuan)

In [2]:
print(mactan.head())
print('')
print(hinatuan.head())

       STATION        DATE   TEMP    MAX    MIN  Celsius
0  RPM00098646  2017-01-01  79.70  86.00    NaN       26
1  RPM00098646  2017-01-02  79.88  85.64    NaN       27
2  RPM00098646  2017-01-03  82.40  88.52  76.64       28
3  RPM00098646  2017-01-04  82.04  89.24    NaN       28
4  RPM00098646  2017-01-05  81.32  88.52  77.00       27

       STATION        DATE   TEMP    MAX    MIN  Celsius
0  RP000098755  2017-01-01  80.06  84.20  75.20       27
1  RP000098755  2017-01-02  80.78  85.64  75.92       27
2  RP000098755  2017-01-03  79.88  85.28    NaN       27
3  RP000098755  2017-01-04  80.60  86.36  75.38       27
4  RP000098755  2017-01-05  77.72  89.06    NaN       25

### Part 2 (1 points)

Next you can find some median temperature values for the period the data covers.

- What was the median Celsius temperature during the observed period in:
    - Mactan, Cebu? (store the answer in a variable `mactan_median`)
    - Hinatuan, Surigao del Sur? (store the answer in a variable `hinatuan_median`)

In [6]:
# calculate median Celsius temperatures
mactan_median = mactan['Celsius'].median()
hinatuan_median = hinatuan['Celsius'].median()

In [7]:
# Prints the median temperatures
print(f"Mactan median: {mactan_median}")
print(f"Hinatuan median: {hinatuan_median}")

Mactan median: 28.0
Hinatuan median: 27.0

### Part 3 (2 points)

The median temperatures above consider data from the entire "summer" (Mar-May), hence the differences might not be so clear. Let's now find out the mean temperatures from March and May 2018 in Mactan and Hinatuan.

- From the `mactan` and `hinatuan` DataFrames, select the rows where values of the `DATE` column are from March 2018
    - Assign these selected rows into the variables `mactan_mar` and `hinatuan_mar` (you can check the [hints](https://geo-python.github.io/site/lessons/L5/exercise-5.html) for help!)
- Repeat the procedure for the month of May and assign those values into variables to `mactan_may` and `hinatuan_may`

In [13]:
# Select the subset of the Mactan and Hinatuan data for the 3rd and 5th month
mactan_mar = mactan.loc[(mactan["DATE"] >= '2018-03-01') & (mactan["DATE"] <= '2018-03-31')]
hinatuan_mar = hinatuan.loc[(hinatuan["DATE"] >= '2018-03-01') & (hinatuan["DATE"] <= '2018-03-31')]

mactan_may = mactan.loc[(mactan["DATE"] >= '2018-05-01') & (mactan["DATE"] <= '2018-05-31')]
hinatuan_may = hinatuan.loc[(hinatuan["DATE"] >= '2018-05-01') & (hinatuan["DATE"] <= '2018-05-31')]

Check that the subsets look ok:

In [14]:
print(f"First values in March, Mactan:\n{mactan_mar.head()}\n")
print(f"Last values in March, Mactan:\n{mactan_mar.tail()}")

First values in March, Mactan:
         STATION        DATE   TEMP    MAX    MIN  Celsius
424  RPM00098646  2018-03-01  82.58  88.52    NaN       28
425  RPM00098646  2018-03-02  82.40  88.88  76.28       28
426  RPM00098646  2018-03-03  83.12  89.96  76.64       28
427  RPM00098646  2018-03-04  81.68  88.88    NaN       28
428  RPM00098646  2018-03-05  82.76  89.60  75.92       28

Last values in March, Mactan:
         STATION        DATE   TEMP    MAX    MIN  Celsius
450  RPM00098646  2018-03-27  80.96  88.88    NaN       27
451  RPM00098646  2018-03-28  81.68  88.70  73.76       28
452  RPM00098646  2018-03-29  81.14  88.88    NaN       27
453  RPM00098646  2018-03-30  81.32  87.80  74.48       27
454  RPM00098646  2018-03-31  82.40  89.60  76.64       28

In [15]:
print(f"First values in May, Mactan:\n{mactan_may.head()}\n")
print(f"Last values in May, Mactan:\n{mactan_may.tail()}")

First values in May, Mactan:
         STATION        DATE   TEMP    MAX    MIN  Celsius
485  RPM00098646  2018-05-01  86.18  91.76  79.52       30
486  RPM00098646  2018-05-02  85.10  93.02    NaN       29
487  RPM00098646  2018-05-03  78.98  84.56    NaN       26
488  RPM00098646  2018-05-04  82.40  88.88    NaN       28
489  RPM00098646  2018-05-05  83.66  90.50  75.56       29

Last values in May, Mactan:
         STATION        DATE   TEMP    MAX    MIN  Celsius
511  RPM00098646  2018-05-27  87.08  92.30  80.60       31
512  RPM00098646  2018-05-28  86.72  93.02  81.32       30
513  RPM00098646  2018-05-29  86.18  90.32    NaN       30
514  RPM00098646  2018-05-30  83.48  90.68    NaN       29
515  RPM00098646  2018-05-31  84.20  91.40    NaN       29

In [16]:
print(f"First values in March, Hinatuan:\n{hinatuan_mar.head()}\n")
print(f"Last values in March, Hinatuan:\n{hinatuan_mar.tail()}")

First values in March, Hinatuan:
         STATION        DATE   TEMP    MAX    MIN  Celsius
424  RP000098755  2018-03-01  80.60  85.28  75.38       27
425  RP000098755  2018-03-02  80.96  86.18    NaN       27
426  RP000098755  2018-03-03  80.24  88.34    NaN       27
427  RP000098755  2018-03-04  78.98  86.18  73.22       26
428  RP000098755  2018-03-05  81.50  87.44  73.40       28

Last values in March, Hinatuan:
         STATION        DATE   TEMP   MAX    MIN  Celsius
450  RP000098755  2018-03-27  78.80  87.8    NaN       26
451  RP000098755  2018-03-28  82.04  92.3  68.72       28
452  RP000098755  2018-03-29  81.32  89.6  74.12       27
453  RP000098755  2018-03-30  81.32  90.5  72.50       27
454  RP000098755  2018-03-31  77.90  85.1    NaN       26

In [17]:
print(f"First values in May, Hinatuan:\n{hinatuan_may.head()}\n")
print(f"Last values in May, Hinatuan:\n{hinatuan_may.tail()}")

First values in May, Hinatuan:
         STATION        DATE   TEMP    MAX    MIN  Celsius
485  RP000098755  2018-05-01  82.22  89.24  76.10       28
486  RP000098755  2018-05-02  79.88  87.80    NaN       27
487  RP000098755  2018-05-03  81.50  90.86  74.84       28
488  RP000098755  2018-05-04  81.86  89.96  75.56       28
489  RP000098755  2018-05-05  82.22  89.60    NaN       28

Last values in May, Hinatuan:
         STATION        DATE   TEMP    MAX    MIN  Celsius
511  RP000098755  2018-05-27  82.94  93.02  77.00       28
512  RP000098755  2018-05-28  83.12  91.04    NaN       28
513  RP000098755  2018-05-29  81.68  92.30  74.66       28
514  RP000098755  2018-05-30  76.64  81.14    NaN       25
515  RP000098755  2018-05-31  81.68  90.86  72.86       28

### Part 4 (1 point)

Now you can make your temperature data from both locations and months easier to compare by printing out a few useful values.

- Use the `print()` function to show the mean, min and max Celsius temperatures for both places in March and May using the new subset dataframes (`mactan_mar`, `hinatuan_mar`, `mactan_may`, and `hinatuan_may`).

In [29]:
# Mactan March
print(f"March Mactan Celsius Temperatures\nMean: {mactan_mar['Celsius'].mean()}\nMin: {mactan_mar['Celsius'].min()}\nMax: {mactan_mar['Celsius'].max()}")
print('')
# Hinatuan March
print(f"March Hinatuan Celsius Temperatures\nMean: {hinatuan_mar['Celsius'].mean()}\nMin: {hinatuan_mar['Celsius'].min()}\nMax: {hinatuan_mar['Celsius'].max()}")
print('')
# Mactan May
print(f"May Mactan Celsius Temperatures\nMean: {mactan_may['Celsius'].mean()}\nMin: {mactan_may['Celsius'].min()}\nMax: {mactan_may['Celsius'].max()}")
print('')
# Hinatuan May
print(f"May Hinatuan Celsius Temperatures\nMean: {hinatuan_may['Celsius'].mean()}\nMin: {hinatuan_may['Celsius'].min()}\nMax: {hinatuan_may['Celsius'].max()}")

March Mactan Celsius Temperatures
Mean: 27.70967741935484
Min: 26
Max: 29

March Hinatuan Celsius Temperatures
Mean: 26.677419354838708
Min: 24
Max: 28

May Mactan Celsius Temperatures
Mean: 29.387096774193548
Min: 26
Max: 31

May Hinatuan Celsius Temperatures
Mean: 28.129032258064516
Min: 25
Max: 29

### Problem 3 summary

In the spirit of [knowledge discovery](http://researcher.ibm.com/researcher/view_group.php?id=144), let's briefly interpret the results of the data analysis in Problem 3. Please answer the following questions based on the data analysis results from this problem:

- Does there seem to be a large difference in temperatures between the months?
- Is Hinatuan a much cooler place than Mactan?

Also, be sure to:

- Check that your code includes informative comments explaining what your code does
- Commit and push your changes to your GitHub repository for Exercise 5

- Yes, May is hotter than March.
- Yes, Hinatuan is a cooler place than Mactan.

### On to Problem 4 (*optional*)

Now you can continue to the *optional* [Problem 4: Data analysis](Exercise-5-problem-4.ipynb)